<!-- Todo Add Validation Messages -->
<form name="blogDetailForm">
    <div>
        <input type="hidden" ng-model="blog.id" >
    </div>
    <div>
		<div>
			Current theme :: {{GlobalCodeMirrorConfig.theme}}
		
			<select ng-model="GlobalCodeMirrorConfig.theme" >
				<option value="monokai" selected="selected">monokai</option>
				<option value="default">default</option>
			</select>
			<div>Theme {{theme}}</div>
		</div>
        Title : <input type="title" ng-model="blog.title" placeholder="Title"/>
		<div><input type="text" ng-model="codeMirrorModel" /></div>
        <textarea ui-codemirror="GlobalCodeMirrorConfig" ng-model="codeMirrorModel" placeholder="Message"></textarea>
    </div>
    <div><input type="button" ng-click="save()" value="Save Blog" ng-disabled="blogDetailForm.$invalid"></div>
    <div ng-show="blog.id">
        <input type="button" ng-click="remove()" value="Remove Blog">
    </div>
</form>

